<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button defaultHref="/places/tabs/discover"
        *ngIf="authService.isAuthenticated$ | async; else unauthorized">
      </ion-back-button>
    </ion-buttons>
    <ion-title>{{ (place$ | async)?.place.title || 'Loading...' }}</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ng-container *ngIf="place$ | async as placeDetails; else loadingOrError">
    <app-place-details-view [place]="placeDetails.place" [isBookable]="placeDetails.isBookable">
    </app-place-details-view>
  </ng-container>
</ion-content>

<ng-template #loadingOrError>
  <div *ngIf="loadingError$ | async; else loading" padding text-center>
    Could not load place.
  </div>
  <ng-template #loading>
    <div padding text-center>
      <ion-spinner color="primary"></ion-spinner>
    </div>
  </ng-template>
</ng-template>

<ng-template #unauthorized>
  <ion-back-button defaultHref="/places">
  </ion-back-button>
</ng-template>
